# Home Assistant recorder → MariaDB
# Use MariaDB for Recorder (history/logbook rely on this)
recorder:
  # db_url: mysql://ha:${DB_PASSWORD}@mariadb:3306/homeassistant?charset=utf8mb4
  # db_url: mysql://ha:${DB_PASSWORD}@{MARIADB_CONTAINER_NAME}:3306/homeassistant?charset=utf8mb4
  db_url: !secret recorder_db_url
  # Optional tuning:
  commit_interval: 1
  auto_purge: true
  purge_keep_days: 14
  # exclude:
  #   domains:
  #     - automation
  #     - camera

automation:

device_automation:

frontend:

history:

logbook:

map:

mobile_app:

person:

scene:

script:

ssdp:

sun: 

system_health:

timer:

updater:

webhook:

zeroconf:

dhcp:

energy:
